%tr#http_verbs
  %td
    HTTP Verbs:
  %td
    %ol#http_verbs_list
      -@urls.group_count_and_order(:request_type).each do |verb, count|
        %li
          = verb
          (
          %span>= count
          )