%tr#most_pop_os
  %td
    Most Popular Operating Systems:
  %td
    %ol#most_pop_os_list
      -@path.top_3_operating_systems.each do |referrer, count|
        %li
          = referrer
          (
          %span>= count
          )
