%tr#most_pop_referrers
  %td
    Most Popular Referrers:
  %td
    %ol#most_pop_referrers_list
      -@url_payloads.get_top_3(:referred_by).each do |referrer, count|
        = list_item_with_count(referrer, count)
