%tr#most_pop_referrers
  %td
    Most Popular Referrers:
  %td
    %ol#most_pop_referrers_list
      -@urls.get_top_3(:referred_by).each do |referrer, count|
        %li
          = referrer
          (
          %span>= count
          )