%tr#most_pop_referrers
  %td
    Most Popular Referrers:
  %td
    %ol#most_pop_referrers_list
      -@path.top_3_referrers.each do |referrer, count|
        %li
          = referrer
          (
          %span>= count
          )
