%tr#longest_response_time
  %td
    Longest Response Time:
  %td
    = @path.max_response_time
%tr#shortest_response_time
  %td
    Shortest Response Time:
  %td
    = @path.min_response_time
%tr#average_response_time
  %td
    Average Response Time:
  %td
    = @path.avg_response_time
