<div id = "longest_response_time">
  <h5>Longest Response Time: <%= @url_payloads.max_response_time %></h5>
</div>

<div id = "shortest_response_time">
  <h5>Shortest Response Time: <%= @url_payloads.min_response_time %></h5>
</div>


<div id = "avg_response_time">
  <h5>Average Response Time: <%= @url_payloads.average_response_time_per_url %></h5>
</div>