<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h1 id="header">Url Specific Data</h1>
      <h1 ><%= @source.identifier%>/<%= @path %></h1>
    </div>
  </div>
</div>
