<div id= "screen_resolution">
  <ul>
    <% Payload.find_two(@user.identifier, :resolutionWidth, :resolutionHeight).each do |width_height| %>
    <li><%= width_height[0][0] %> x <%= width_height[0][1] %> - <%= width_height[1] %></li>
    <% end %>
  </ul>
</div>
