<br/>
<div class="container">
  <table class="striped highlight responsive-table bordered centered">
    <thead>
      <tr>
        <th data-field="URL">URL</th>
        <th data-field="views">Views</th>
      </tr>
    </thead>

    <tbody>
      <% @client.payloads.url_requests.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
