<a href="/">Home</a>
<% @relative_paths.each do |relative_path| %>
  <a href="/sources/<%= @identifier %>/urls/<%= relative_path %>">Specific URL</a>
<% end %>
<a href="/sources/<%= @identifier %>/events">Events Index</a>
<a href="/sources/<%= @identifier %>">App Details</a>
