<table class="table table-striped">
  <tr>
    <td>Average Response Time: </td>
    <td><%= client.average_response_time %> ms</td>
  </tr>
  <tr>
    <td>Max Response Time: </td>
    <td><%= client.max_response_time %> ms</td>
  </tr>
  <tr>
    <td>Min Response Time: </td>
    <td><%= client.min_response_time %> ms</td>
  </tr>
</table>
