body {
    background-image: url('/bg_image.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content-center {
  text-align: center;
  margin-top: 4.5em;
  align-content: center;
}

.button-styles {
  margin: 5px;
}

.dashboard-header {
  color: #fff;
}

.login-button-styles {
  margin: 10px;
  padding: 1.5em;
}

.dashboard-form-style {
  opacity: 1;
  padding-left: 20em;
  padding-right: 20em;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.jumbo-adjust {
  margin-top: 3em;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-adjust {
  float: left;
  clear: both;
}