.background-img {
  background-image: url("../images/TrafficSpy_Eye.jpg");
  height: 100vh;
  max-width: 100%;
}

.brand-logo {
 margin-left: 20px;
}

.title-text {
  color: #d7d7d7;
}


/*
.card {
  min-height: 100px;
}*/

.link-card {
  height: 80px;
}

.stats-card {
  min-height: 300px;
}

.center-content {
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .background-img {
    background-position: center center;
  }
}

.title-text{
  color: D7D7D7;
}

.homepage-header {
  font-size: 150px;
  font-weight: 300;
  margin-left: 40px;
;}

.weighted{
  font-weight: 200;
}

.sub {
  font-size: 50px;
}

.homepage-quote {
  letter-spacing: 4px;
  font-weight: 100;
  margin-left: 180px;
  margin-top: -50;
}

/*.homepage-icon {
  color: 0097a7;
  font-size: 50px;
}*/

.underline {
  text-decoration: underline;
  color: D7D7D7;
}

.shadow {
  text-shadow: 2px 2px #0097a7;
}

.grid-margin {
  margin-top: 5px;
}

#aggregate-link {
  background-color: D7D7D7;
}


/*.highlight {
  color: #0097a7;
}*/
/*.smaller-text{
  font-size: 35px;
}*/
/*
.textured-img {
 background-image: url("http://eskipaper.com/images/awesome-textured-background-1.jpg");
 height: 100vh;
 max-width: 100%;
}*/
