.container.center-align
  .row
    .col.s12.m12.l12
      %h2.title-text.center.weighted.underline
        = @app.identifier
      %h3.title-text.center.weighted.sub
        statistics
  =haml :'application-detail-statistics/_application_details'