.container
  .row
    %h1.title-text.weighted.underline.center.non-dashboard-text
      = @app.identifier.capitalize
      Events Details:
  .row.center-align
    %h3.weighted.sub.cyan.darken-2.non-dashboard-text
      = @event

  %h3#total-request.title-text.weighted.underline.non-dashboard-text
    Total Requests:
    = @event_payloads.count

  = haml :'event-detail-statistics/_hourly_table'
