#events-details-hour {
	font-style: bold;
  font-family: fantasy;
  font-size: 20pt;
}

#events-details-overall {
	font-style: bold;
  font-family: fantasy;
  font-size: 20pt;
}

#events {
	font-size: 12 pt;
}