<h1>Whoa there partner you best watch where you're going.  this here's the wrong page</h1>
<p>if you are befuddled, please see the descriptive error message below</p>
<img src="/images/another_cowboy.png" alt="helpful cowboy" height="400" width="400">
<h2>Here's a helpful and descriptive error message</h2>
