<div class="well well-sm">
<ul class="nav nav-pills">
  <li role="presentation"><a href="/sources/<%= params[:identifier] %>">Home</a></li>
  <li role="presentation"><a href="/sources/<%= params[:identifier] %>/urls">Urls</a></li>
  <li role="presentation"><a href="/sources/<%= params[:identifier] %>/events">Events</a></li>
</ul>
</div>
