<div class="container">

  <div class="jumbotron">
    <h1>About Rush Hour</h1>
    <h3>About a week prior to this site going live, three people who <i>sort</i> of knew each other were picked to live in a basement and start getting real. There was some forming, some storming, some norming, and then some awesome performing. We bring to you analytics about your site but also a wealth of new knowledge and experience from the three of us.</h3>
  </div>

</div>
