<div id="mvp_urls">
  <h2>URL Popularity Contest</h2>
  <% TrafficSpy::User.find_by(identifier: @id).payloads.group(:url).count.each do |k, v| %>
    <h4><%=k  %>:<%= v %></h4>
  <% end %>
</div>

<!-- user_object = TrafficSpy::User.find_by(identifier: @id) -->