
<h2>Your Payload Data</h2>


  <h3><%= client.id %></h3>
    <h4><%= stuff %></h4>
<!-- <% end %> -->


    <!-- Average Response time across all requests
    Max Response time across all requests
    Min Response time across all requests
    Most frequent request type
    List of all HTTP verbs used
    List of URLs listed form most requested to least requested
    Web browser breakdown across all requests
    OS breakdown across all requests
    Screen Resolutions across all requests (resolutionWidth x resolutionHeight) -->
