<h1>Sorry, <%= @client.identifier.capitalize %>, it doesn't look like you've submitted any payload requests, yet. </h1>

<p>
  Please curl a payload request to our site, and we'll be happy to analyze the data for you.
</p>
