<div class="jumbotron">
   <div class="container">
    <h1  id="welcome">Welcome to RushHour</h1>
    <p id="welcome"> What a fun project this was!  </p>
    <p id="welcome">
        <a class="btn btn-primary btn-lg" href="/sources" role="button">Source Index</a>
    </p>
  </div>
</div>
