<table id="response-times" class="table table-striped table-bordered table-hover table-sm">
  <tr class="info">
    <td> Web Browser Breakdown </td>
    <td> <%= browser %> </td>
  </tr>
  <tr class="active">
    <td> Operating System Breakdown </td>
    <td> <%= os %> </td>
  </tr>
</table>
