<div id="identifier">
	<h2><%= @identifier %> Dashboard Analytics</h2>
</div>

<div id="analytics">
	<h3>Max Response time: </h3>
	<h3>Min Response time:    </h3>
	<h3>A list of response times across all requests listed from longest response time to shortest response time: </h3>
	<h3>Average Response time for this URL:  </h3>
	<h3>HTTP Verb(s) associated used: </h3>
	<h3>Three most popular referrers:  </h3>
	<h3>Three most popular user agents:   </h3>
</div>
