<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>Rush Hour</title>
        <link href='css/bootstrap.css' rel='stylesheet'>
        <link href='css/main.css' rel='stylesheet'>
    </head>


    <body>
          <div class="jumbotron">
             <div class="container">
              <h1 id="welcome">Welcome to RushHour</h1>
              <p id="welcome"> What a fun project this was!  </p>
              <p id="welcome">
                  <a class="btn btn-primary btn-lg" href="/sources" role="button">Source Index</a>
              </p>
          </div>
        </div>
      </body>



                <div>
                    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
                    <script src='js/bootstrap.js'></script>
                </div>
            </body>
