<table id="response-times" class="table table-striped table-bordered table-hover table-sm">
  <tr class="info">
    <td> All HTTP Verbs Used </td>
    <td> <%= all %> </td>
  </tr>
  <tr class="active">
    <td> Most Frequent Request Types </td>
    <td> <%= most %> </td>
  </tr>
  <tr class="info">
    <td> URL Requests - Most to Least </td>
    <td> <%= most_url %> </td>
  </tr>
    <tr class="active">
      <td> Screen Resolutions </td>
      <td> <%= res  %> </td>
    </tr>
</table>
