<div class="container content-center">
  <div class="dashboard-header">
    <h1>Welcome to Rush Hour!</h1>
  </div>
  
  <div>
    <form class="jumbotron form-inline dashboard-form-style">
      <p>Enter user identifier for access:</p>
      <div class="form-group">
        <label class="sr-only row" for="exampleInputEmail3">enter user identifier</label>
        <input type="text" class="form-control" id="userIdentifierDashboard" placeholder="enter user identifier">
      </div>
    <button type="submit" class="btn btn-default">access data</button>  
    </form>
  </div>
</div>