<div class="container content-center">
  <div class="dashboard-header">
    <h1>Welcome to Rush Hour!</h1>
  </div>
  
  <div class="dashboard-form-style">
    <form class="jumbotron form-inline row-centered">
      <p>Enter user identifier for access:</p>
      <div class="form-group">
        <label class="sr-only row" for="exampleInputEmail3">enter user identifier</label>
        <input type="text" class="form-control" id="userIdentifierDashboard" placeholder="enter user identifier">
      </div>
    <button type="submit" class="btn btn-default" id="accessButton">access data</button>  
    </form>
  </div>
  
</div>

<script>
  var button = document.getElementById("accessButton");
  button.addEventListener("click", relocate)
  function relocate() {
    var input = document.getElementById("userIdentifierDashboard");
    event.preventDefault()
    window.location.pathname = "/sources/" + input.value;
  }
</script>