<div class="container content-center">
  <div class="dashboard-header">
    <h1>Welcome to Rush Hour!</h1>
  </div>
  
  <div>
    <a class="btn btn-primary btn-lg" role="button" href="/sources">Here's a button</a>
  </div>
  <br/>
  <div>
    <a class="btn btn-primary btn-lg" role="button" href="/sources">And here's another button</a>
  </div>
</div>