<div class='container-fluid navbar navbar-default text-center'>
  <a class="navbar navbar-brand navabr-link navbar-nav" href="/sources">Home</a>
</div>
<div class="text-center white-text">
  <h1>Error Page</h1>
  <img src="http://4.bp.blogspot.com/-tHCKupgOtc8/U-hGMc7OgGI/AAAAAAAAFy8/baRDcLKMNr0/s1600/Mindtrick.png" alt="obi wan">
  <h1>This is not the page you're looking for...</h1>
</div>
