<section class="center-table">
  <p id="error"><img src="http://findicons.com/files/icons/1700/2d/512/emoticon_oh_no.png" width="200px" height="200px"> 
  <br><strong>Oops. You made a mistake.</strong></p>
  <%= anchor("/", "Go home!") %>
</section>
