<h1>You Have an Error!</h1>
<div id= "error">
  <ul>
  <% if @user.identifier.nil? %>
    <li> no user error </li>
    <% elsif @payload.eventName.nil?%>
    <li> event name does not exist bruh </li>
    <li>error</li>
    <% else @payload.select(eventName:).empty?%>
    <li> Your event name was not found </li>
    <% binding.pry %>
    <a href = "http://yourapplication:port/sources/:IDENTIFIER/events"/> index of events </a>

    <% end %>
  </ul>
</div>
