<div class="text-center">
  <h1>You made a mistake</h1>
  <h1><iframe src="//giphy.com/embed/Okmp5lDgiklwI" width="480" height="126" frameBorder="0"
    class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/Okmp5lDgiklwI"></a></p></h1>
  <br>
  <h4> <%= error_message %></h4>
  <p><%= body %></p>
</div>
