<div class="text-center">
  <h1>Get Fucked</h1>
  <h1><iframe src="//giphy.com/embed/10b60p6wIUe9KE" width="480" height="348" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/animated-cartoon-oc-10b60p6wIUe9KE"></a></p></h1>
  <br>
  <h4> <%= error_message %></h4>
  <p><%= body %></p>
</div>
