<h1>Hello, <%= @id %> </h1>

<h2>Here are all your stats for <%= @event_name %>  displayed in a visually appealing format</h2>


<ul>
  <% @all_hours.each do |hour| %>
    <li><%= hour %> :: this is how many times this event was hit in this hour <%= @hour_breakdown[hour] %></li>
  <% end %>
</ul>

