<h2>Application Event Details</h2>

	<h4>Number of times the event was received overall:<%=@event_count%> times</h4>


	<h4>Hour by Hour Breakdown of when the event was received:</h4>
	
	<%=@hours_breakdown%>



</div>

		