<div id="events-detail-hour">
<h2>Application Event Index for "#{@identifier}"</h2>

	<h4>Received Events:</h4>
	<h3>(sorted most to least)</h3> 

		<ol>
		<!--#name of event with number of occurrencesy-->
			<li></li>
			<li></li>
			<li></li>
		</ol>l>


</div>
