<div class='container-fluid navbar navbar-default text-center'>
  <a class="navbar navbar-brand navabr-link navbar-nav" href="/sources">Home</a>
  <h3 class="text-center">Event Data</h3>
</div>
<div class="jumbotron container-fluid col-md-6 col-md-offset-3">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered table-condensed">
      <tr>
        <th>Event</th>
        <th>Count</th>
      </tr>
    <% @events.each do |event, count| %>
      <tr>
        <td><a href="http://localhost:9393/sources/<%= @source.identifier %>/events/<%= event %>"><%= event %></td>
        <td> <%= count %> </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
