<div class="container">
<h1 id="events_index"> Index of Events for <%= @identifier.capitalize %> </h1>
<div id="events_list">
  <% unique_events = @events.uniq %>
<% unique_events.each do |event| %>
  <a href="/sources/<%= @identifier %>/events/<%= event.event_name %>"><%= event.event_name %></a></br>
<% end %>
</div>
</div>
