<h2>Events Statistics</h2>

<h4>Popularity</h4>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Number of Requests</th>
    </tr>
    </thead>
    <tbody>
      <% @events_by_popularity.map do |name, count| %>
          <tr>
            <td><a href="events/<%= name %>"><%= name %></a></td>
            <td><%= count %></td>
          </tr>
      <% end %>
    </tbody>
  </table>


