<div class="circle z-depth-4"><h4>Traffic</br>Spy</h4><i class="large material-icons">search</i></div>

<div id="mvp_urls" class="card z-depth-1">
  <div class="data">
    <h3>URL Popularity Contest</h3>
      <h4>data and stats</h4>
  </div>
</div>

<div id="mvp_browsers" class="card blue z-depth-2">
  <h3>Browser Popularity Contest</h3>
    <h4>data and stats</h4>
</div>

<div id="mvp_os" class="card green z-depth-3">
  <h3>OS Popularity Contest</h3>
    <h4>data and stats</h4>
</div>

<div id="mvp_resolution" class="card red z-depth-4">
  <h3>Screen Resolution Popularity Contest</h3>
    <h4>data and stats</h4>
</div>

<div id="avg_response" class="card orange z-depth-5">
  <h3>Average Response Time</h3>
    <h4>data and stats</h4>
</div>
