%div.background-img
  .row
    .col.l12.m12.s12
      %h1.title-text.homepage-header{:id => "homepage_header"}
        Traffic Spy
        %span.weighted.sub#analytics analytics
      %i.material-icons.inline_block{:id => "verified_user"}

      %h3.title-text.homepage-quote know your audience