<h1>Welcome to Rush Hour</h1>

<form class="client-name" action="/sources/ <%= @client.identifier %>" method="post">
  <input type="text" name="name" placeholder="Your Client Name">
  <input type="button" name="submit" value="Submit">
</form>
