
%div.background-img
  .container
    .row
      .col.s12
        %h1.white.black.large{:id => "homepage_header"} Traffic Spy
        %i.material-icons.inline_block{:id => "verified_user"}
          %a{:href => "http://stevepentler.github.io/"} verified_user
