<h1 id="welcome" class="well col-md-6 col-md-offset-3 text-center">Welcome to Rush Hour</h1>


<div class="well col-md-6 col-md-offset-3" style="background-color: rgb(157,224,173);">
  <h3>
    If you're a registered user you can click your name below to see your detailed stats.
  </h3>
  <ul class="list-style">
    <% Client.all.each do |client| %>
    <li><a href="/sources/<%= client.identifier %>"> <%= client.identifier.capitalize %> </a><br></li>
    <% end %>
  <li><a href="/sources/hotmail"> Hotmail </a><br></li>

  </ul>
</div>
