<div class="container">
  <div class="container">
   <div class="text_box">
     <h5 class="cadetblue-text">Enter TrafficSpy ID</h5>
     <form action="/enter_id" method="post">
       <input type='text' name='name'/><br/>
       <input class="waves-effect waves-light btn" value='SPY' type='submit'/><br/>
     </form>
   </div>
   <i class="large orange-text material-icons">visibility</i>
 </div>
</div>
