<div class="text-center white-text">
  <h1>Hello, Traffic Spyer O_o</h1>
</div>
<div class="text-center jumbotron col-md-6 col-md-offset-3" style="opacity">
  <p>Traffic Spy is a project created by Ross Edfort, Cole Hall, and Sekhar Paladugu
     as a part of the second module at the Turing School of Software and Design.
     It is built with the Ruby programming language on the Sinatra framework. We also implement
     Active Record and PostgreSQL. Click the button below to get Started!!</p><br><br>
     <a href="/sources"><button class="btn btn-lg btn-primary">Start!</button></a>
</div>
