<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>Heidi's Rainbow Payload Analytics</title>
  <style>
    .jumbotron{
      background-color: #2E2D88;
      color: white;
    }
    </style>
</head>

  <body role="document">
    <div class="container-theme showcase" role="main">
      <div class="jumbotron">
        <div class="col-md-8" class="bg-primary">
      <%= yield %>
      </div>
      <img src="http://www.gifs.net/Animation11/Animals/Rabbits/rabbit_runs.gif" class="img-responsive" alt="Responsive image">
    </div>
  </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='js/bootstrap.js'></script>
    </div>
  </body>
</html>
