<!DOCTYPE html>
<html lang ='en'>
   <head>
     <title>Traffic Spy</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link rel="stylesheet" href="style.css"
   </head>
 <body>
   <%= yield %>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
 </body>
</html>
