<!DOCTYPE html>
  <html lang="en">
    <head>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <!-- <link type="text/css" rel="stylesheet" href="/css/application.css"/> -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Traffic Spy</title>
    </head>
    <body>
      <%= yield %>
      <footer class="footer-copyright light-blue darken-4">
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    </body>
  </html>
