<html>
  <head>
    <title>Traffic Spy</title>
    <link rel="stylesheet" type="text/css" href="<%= url("css/bootstrap.min.css")%>">
    <link rel="stylesheet" type="text/css" href="<%= url("css/custom.css")%>">
    <link rel="icon" type="image/ico" href="<%= url("images/favicon.ico")%>">
  </head>
  <body>

    <div id="menu_bar">
      <h4>What's up with your traffic?</h4>
      <marquee direction="right" pause="3s"><h3>TrafficSpy</h3></marquee>
      <% erb :nav %>
    </div>

    <div id="content">
      <%= yield  %>
    </div>

    <footer>
      <a href="/sources">TrafficSpy User List</a>
    </footer>

  </body>
</html>
