<!DOCTYPE html>
  <html>
  <head>
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <title>Traffic Spy</title>
  </head>

  <body>
      <!-- <nav class='navbar navbar-default'>
        <nav class='navbar-brand'>Task Manager</nav>
        <a href="/" class="navbar-link navbar-text">Home</a>
      </nav> -->

    <div class='container'>
      <%= yield %>
    </div>
  </body>
  </html>