<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rush Hour</title>
    <link href="/css/application.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top3">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Rush Hour</a>
        </div>
        <ul class="nav navbar-nav">
          <li id="menuLogin">
            <form action="/sources/" method="POST" class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" href="/sources/" class="form-control" placeholder="enter user identifier" name="identifier">
              </div>
              <button type="submit" class="btn btn-default">access data</button>
            </form>
            
          </li>
        </ul>
        
          <ul class="nav navbar-nav">
            <li>
              <a href="/sources/new">place</a>
            </li>
            <li>
              <a href="/sources">holder</a>
            </li>
          </ul>
      </div>
    </nav>
    <div class="container">
      
      <%= yield %>
    
    </div>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>