<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>Rush Hour</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
