<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- Latest compiled and minified JavaScript -->
  <title class="application_title">Rush Hour</title>


    <title>Rush Hour</title>

  </head>
  <body>
    <%= erb :'shared/_navigation'%>
  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
