<html>
  <head>
    <title>Traffic Spy</title>
    <link rel="stylesheet" type="text/css" href="<%= url("css/bootstrap.min.css")%>">
    <link rel="stylesheet" type="text/css" href="<%= url("css/custom.css")%>">
  </head>
  <body>
    
    <div id="menu_bar">
      <% erb :nav %>
    </div>
    
    <div id="content">
      <%= yield  %>
    </div>
    
    <footer>
    </footer>
  
  </body>
</html>