<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Varela Round">
  <link rel="stylesheet" href="/style.css">
  <title>Traffic Spy App</title>
</head>
<body>
<div class="container">
  <%= yield %>
  </div>
</body>
<div class="footer">
  <p>Drew | Tyler | Sally | Visit our Github repo <a href="https://github.com/adfink/traffic-spy-skeleton">here.</a></p>
</div>
</html>
