<form id ="registration" action="/sources" method="post">
  <p>Register an Application:</p>
  <p>Website Identifier:</p> <input type='text' name="identifier"><br>
  <p>Website Domain:</p><input type="text" name="rootUrl"><br>
    <input class="submit" type ='submit' value='submit'/>
</form>
