<div id="no_events">
  <h4>No data received for /<%= event_name %></h4>
  <h6><a id = "return_to_index" href="/sources/<%= @user.identifier %>/events">Back to <%= @user.identifier %> event index</a><h6>
</div>
