<div id="no_events">
  <h5></br>No data received for path: /<%= event_name %></h5>
    <a id = "return_to_index" href="/sources/<%= @user.identifier %>/events">
      <h6 class="orange-text"></br></br>Back to <%= @user.identifier %> event index<h6>
    </a>
</div>
