<div class='container-fluid navbar navbar-default text-center'>
  <a class="navbar navbar-brand navabr-link navbar-nav" href="/sources">Home</a>
</div>
<div class="text-center white-text">
  <h1>Error Page</h1>
  <p>No Events with this name.</p>
</div>
