<div class="error_board">
  <h1>There are no events for <%= client.identifier.capitalize %></h1>
  <% client.ordered_most_to_least_events.each do |event| %>
  <p><a href="/sources/<%= URI(client.identifier).path %>/events/<%= URI(event).path %>"><%= event%></a></p>
  <% end %>
</div>
