.container
  .row
    .col.l12.m12.s12
      %h1.title-text.weighted.underline.center Registered apps
      %ul.center
        -@apps.each do |app|
          %li
            = link_to_application(app.identifier)
