<h1>Client: <%= @identifier %></h1>

<p>Average Response Time Across All Payloads: <%= @payloads.average_response_time %></p>
<p>Max Response Time Across All Payloads: <%= @payloads.max_response_time %></p>
<p>Min Response Time Across All Payloads: <%= @payloads.min_response_time%></p>
