<div class="container">
  <div class="row well">
    <div class="col-md-12">

      <h1><%= @source.identifier.capitalize %> Dasboard</h1>
      </br>
      <h4> Most Viewed Urls</h4>
      <ul>
        <% @slugs.each do |slug| %>
          <li><%= slug %></li>
        <% end %>
      </ul>
      </br>
      <h4> Most Viewed Urls</h4>
    </div>
  </div>
</div>
