<div class="jumbo-adjust jumbotron container">
  <h1 class="header-adjust">Data for <%= @url %></h1>

  <div>
    <table class="table table-hover table-bordered table-condensed">
      <tr>
        <td>Max Response Time</td>
        <td><%= @url_object.max_response_time_by_url %></td>
      </tr>
      <tr>
        <td>Min Response Time</td>
        <td><%= @url_object.min_response_time_by_url %></td>
      </tr>
  </div>

</div>
