<h1>URL-Specific Statistics</h1>

<h2>Most Popular Referrer</h2>
  <ol>
    <li><%= @source.popular_referrer.first.first %></li>
  </ol>

<h2>Most Popular Browser</h2>
  <ol>
    <li><%= @source.most_popular_browser.first.first %></li>
  </ol>

<h2>Most Popular Browser</h2>
<ol>
  <li><%= @source.most_popular_operating_system.first.first %></li>
</ol>

<h2>Most Popular HTTP Verb</h2>
<ol>
  <li><%= @source.most_popular_http_verb.first.first %></li>
</ol>

