<h2>URL Statistics </h2>

<% if @url %>
<%calculator = UrlsStatisticsCalculator.new(@registration)%>
<ul>
  <li><strong>Longest Response Time: </strong>
    <%=calculator.find_longest_response_time%></li>
  <li><strong>Shortest Response Time: </strong>
    <%=calculator.find_shortest_response_time%></li>
  <li><strong>Shortest Response Time: </strong>
    <%=calculator.find_average_response_time%></li>
  <li><strong>Request Type Used: </strong>
      <%=calculator.get_http_verbs%></li>
    <%end%>
</ul>
