<h1>Your Data!!!!!!</h1>
<h2>Most Requested URLS</h2>
<div class = "urls">
  <%= Payload.find_urls(@user.identifier) %>
</div>

Web Browser Breakdown<br>
OS Breakdown<br>
Screen Resolution<br>
Average Response Time Per URL<br>
Most Requested URLS<br>
Most Requested URLS<br>
